<a href="https://colab.research.google.com/github/tequilahou/python_exercises/blob/master/%E7%94%A8%E4%B8%89%E8%A1%8C%E7%A8%8B%E5%BC%8F%E8%A8%88%E7%AE%97%E6%8A%95%E8%B3%87%E5%A0%B1%E9%85%AC%E7%8E%87.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
##用三行程式計算投資報酬率

In [1]:
import pandas_datareader.data as web

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [0]:
df = web.DataReader('2330.tw','yahoo','2019-01-01')

In [9]:
df.head()

             High    Low   Open  Close      Volume   Adj Close
Date
2019-01-02  226.5  219.0  226.5  219.5  32900482.0  207.299652
2019-01-03  218.0  214.0  214.0  215.5  34087620.0  203.521988
2019-01-04  211.5  206.5  211.5  208.0  65943521.0  196.438858
2019-01-07  214.0  211.0  212.0  213.0  35442176.0  201.160965
2019-01-08  212.5  210.0  212.0  211.0  22694481.0  199.272125

In [11]:
df['Adj Close'][-1]/df['Adj Close'][0]

1.5243633879721086